@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* HTML */
body,
html {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* DẤU TRANG */
.dautrang {
  background-image: url(../images/Dautrang.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 500px;
}

.dautrang h1 {
  margin-top: 0px;
  line-height: 500px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}

/* CLIENT */
.client {
  width: 75%;
  margin: 0 auto;
}

.client .title {
  text-align: center;
  color: #dfaa5b;
  font-family: "Ubuntu", sans-serif;
  font-size: x-large;
  margin: 25px 0 50px;
}

.client .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Anek Latin", sans-serif;
}

.client .review1,
.client .review2,
.client .review3 {
  background-color: #dfaa5b;
}

.client .content h3 {
  color: white;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
.client .content p {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

.review1 h3,
.review1 p,
.review2 h3,
.review2 p,
.review3 h3,
.review3 p {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

/* LEFT */
.client .review1 {
  width: 320px;
}
.review1 h3 {
  margin: 5px 20px 0 20px;
}
.review1 p {
  margin: 20px 20px 0 20px;
}
.review1 img {
  width: 290px;
  height: auto;
}

/* RIGHT */
.client .content .right {
  display: flex;
  flex-direction: column;
  width: 900px;
}

/* REVIEW 2 */
.client .review2 {
  margin: 0 0 20px 20px;
  text-align: center;
  display: flex;
  padding: 15px;
}
.review2 img {
  box-shadow: 7px 7px;
  margin-bottom: 7px;
}
.review2 h3 {
  margin: 70px 0 20px;
}
.review2 p {
  margin: auto 50px;
}
.client .content .img-sontung {
  width: 250px;
  height: 280px;
  float: left;
  margin-right: 10px;
}

/* REVIEW 3 */
.client .review3 {
  margin: 0 0 0 20px;
  text-align: center;
  display: flex;
  padding: 15px;
}
.review3 img {
  box-shadow: 7px 7px;
  margin-bottom: 7px;
}
.review3 h3 {
  margin: 70px 0 20px;
}
.review3 p {
  margin: auto 50px;
}
.client .content .img-leduongbaolam {
  width: 250px;
  height: 280px;
  float: left;
  margin-right: 10px;
}

/* ============================================= */
/* PROMOTION */
.promotion {
  width: 90%;
  margin: 40px auto;
}

.promotion .content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}
.promotion .content div {
  max-width: 220px;
  max-height: 400px;
  background-color: #faf8e4;
  flex: 1;
}

.promotion .content div p {
  font-weight: bold;
}

.promotion .content div img {
  width: 150px;
  height: 100px;
}

.promotion .content div button {
  width: 100px;
  height: 30px;
  background-color: #dfaa5b;
  border-radius: 3px;
  color: white;
  border: none;
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
}
.promotion .content button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.promotion .more {
  text-align: right;
  margin-right: 150px;
  margin-top: 20px;
}

.promotion .more a {
  text-decoration: none;
  color: #dfaa5b;
  font-weight: bold;
  display: flex;
  justify-content: right;
}

.more span:nth-child(1) {
  position: absolute;
  margin-right: 40px;
  margin-top: 27px;
  font-size: 20px;
}

.gg-arrow-long-right {
  margin: 50px 20px 0 0;
  color: #9c9292;
  width: 60px !important;
  height: 1px !important;
  border-top: 1.5px solid transparent !important;
  border-bottom: 1.5px solid transparent !important;
  background-color: #9c9292;
}
.gg-arrow-long-right::after {
  width: 15px !important;
  height: 15px !important;
  border-top: 3.5px solid !important;
  border-right: 3.5px solid !important;
  bottom: -7.1px !important;
}

/* -------------------------- */
/* RESPONSIVE */
/* Mobile */
@media screen and (max-width: 600px) {
  /* CLIENT */
  .client {
    width: 90%;
    margin: 0 auto;
  }

  .client .title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 25px auto 50px;
  }

  .client .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Anek Latin", sans-serif;
  }

  .client .review1,
  .client .review2,
  .client .review3 {
    background-color: #dfaa5b;
  }

  .client .content h3 {
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
  }
  .client .content p {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
  }

  .review1 h3,
  .review1 p,
  .review2 h3,
  .review2 p,
  .review3 h3,
  .review3 p {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  /* LEFT */
  .client .review1 {
    width: 320px;
  }
  .review1 h3 {
    margin: 5px 20px 0 20px;
  }
  .review1 p {
    margin: 20px 20px 0 20px;
  }
  .review1 img {
    width: 290px;
    height: auto;
  }

  /* RIGHT */
  .client .content .right {
    display: flex;
    flex-direction: row;
    width: 900px;
  }

  /* REVIEW 2 */
  .client .review2 {
    margin: 0 0 20px 20px;
    text-align: center;
    display: flex;
    padding: 15px;
  }
  .review2 img {
    box-shadow: 7px 7px;
    margin-bottom: 7px;
  }
  .review2 h3 {
    margin: 70px 0 20px;
  }
  .review2 p {
    margin: auto 50px;
  }
  .client .content .img-sontung {
    width: 250px;
    height: 280px;
    float: left;
    margin-right: 10px;
  }

  /* REVIEW 3 */
  .client .review3 {
    margin: 0 0 0 20px;
    text-align: center;
    display: flex;
    padding: 15px;
  }
  .review3 img {
    box-shadow: 7px 7px;
    margin-bottom: 7px;
  }
  .review3 h3 {
    margin: 70px 0 20px;
  }
  .review3 p {
    margin: auto 50px;
  }
  .client .content .img-leduongbaolam {
    width: 250px;
    height: 280px;
    float: left;
    margin-right: 10px;
  }

  /* ============================================= */
  /* PROMOTION */
  .promotion {
    width: 90%;
    margin: 40px auto;
  }

  .promotion .content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-family: "Ubuntu", sans-serif;
  }
  .promotion .content div {
    max-width: 220px;
    max-height: 400px;
    background-color: #faf8e4;
    flex: 1;
  }

  .promotion .content div p {
    font-weight: bold;
  }

  .promotion .content div img {
    width: 150px;
    height: 100px;
  }

  .promotion .content div button {
    width: 100px;
    height: 30px;
    background-color: #dfaa5b;
    border-radius: 3px;
    color: white;
    border: none;
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
  }

  .promotion .more {
    text-align: right;
    margin-right: 150px;
    margin-top: 20px;
  }

  .promotion .more a {
    text-decoration: none;
    color: #dfaa5b;
    font-weight: bold;
    display: flex;
    justify-content: right;
  }

  .more span:nth-child(1) {
    position: absolute;
    margin-right: 40px;
    margin-top: 27px;
    font-size: 20px;
  }

  .gg-arrow-long-right {
    margin: 50px 20px 0 0;
    color: #9c9292;
    width: 60px !important;
    height: 1px !important;
    border-top: 1.5px solid transparent !important;
    border-bottom: 1.5px solid transparent !important;
    background-color: #9c9292;
  }
  .gg-arrow-long-right::after {
    width: 15px !important;
    height: 15px !important;
    border-top: 3.5px solid !important;
    border-right: 3.5px solid !important;
    bottom: -7.1px !important;
  }
}
