html, body, div, span, h1, h5, p, a, i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
  }
  
  h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: white;
    letter-spacing: 1.5px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  body {
    background-image: url(../images/BG.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family:'Source Sans Pro', sans-serif;
  }
  
   .form_content h1 {  font-family:'Source Sans Pro', sans-serif;
    font-size: 40px;
    margin-top: 15px;
    padding-top: 35px;
    text-align: center;
    color: #DFAA5B;
    font-weight: bold;
  }
  
  .form_content {
    width: 450px;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 9px;
    background-size: cover;
  }
  .form_content p {margin-top: 0; padding-top: 0;}
  .fill_content {
    padding: 1em;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    border-radius: 5px;
    background: none;
    background-position: -800px 0;
    background-size: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  
  input.email, input.text.w3lpass {
    margin: 1.2em 0;
  }
  
  
  ::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
  }
  
  input[type="submit"] {
    font-size: 16px;
    font-weight: bold;
    color: black;
    background: #DFAA5B;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
    border-radius: 10px;
  }
  
  input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    color: white;
    background-color: black;
  }
  
  .fill_content p {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .fill_content p a {
    color: #fff;
  }
  a{text-decoration: none;}
  .fill_content p a:hover {
    color: #DFAA5B;
  }
  
  /*-- //main --*/
  /*-- checkbox --*/
  .form_checkbox label {
    font-size: 0.9em;
    color:#fff;
    font-weight: 200;
    cursor: pointer;
    position: relative;
  }
  
  input.checkbox {
    background: #DFAA5B;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
  }
  
  input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
  }
  
  input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #fff;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  
  input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
  }
  
        @media screen and (max-width:768px){
        .form_content{width: 330px;
        height: 450px;
        margin: 45px auto;
        font-size: smaller;}
          .fill_content{padding-top: 0;}
          .form_content h1{padding-top: 15px;
          margin: 0;}
  }